@{ 
    decimal totalLocal = (decimal)ViewBag.totalLocal;
    decimal totalForeign = (decimal)ViewBag.totalForeign;
}

<div class="row">
    <div class="col-12">
        <label>Total local</label>
        <b>@totalLocal</b><br />
        <label>Total extrangero</label>
        <b>@totalForeign</b>
    </div>
</div>